@font-face {
  font-family: Almarai-Bold;
  src: url('../../assets/fonts/Almarai-Bold.ttf');
}

@font-face {
  font-family: Almarai-ExtraBold;
  src: url('../../assets/fonts/Almarai-ExtraBold.ttf');
}
@font-face {
  font-family: Almarai-Light;
  src: url('../../assets/fonts/Almarai-Light.ttf');
}
@font-face {
  font-family: Almarai-Regular;
  src: url('../../assets/fonts/Almarai-Regular.ttf');
}

@font-face {
  font-family: Roboto-Regular;
  src: url('../../assets/fonts/Roboto-Regular.ttf');
}
@font-face {
  font-family: Roboto-Thin;
  src: url('../../assets/fonts/Roboto-Thin.ttf');
}
@font-face {
  font-family: Roboto-ThinItalic;
  src: url('../../assets/fonts/Roboto-ThinItalic.ttf');
}

@font-face {
  font-family: Roboto-Meduim;
  src: url('../../assets/fonts/Roboto-Medium.ttf');
}
@font-face {
  font-family: Roboto-Bold;
  src: url('../../assets/fonts/Roboto-Bold.ttf');
}